langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
wikipedia
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve[all]
sse_starlette
httpx==0.23.0
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
yt-dlp
numexpr
huggingface_hub
gradio